{% extends widget.get_base_template %}

{% block content %}

{% for item in widget.items %}
{% if item.slug == 'coming-soon' %}
<div id="{{ item.slug }}" class="absolute-anchor"></div>
<section class="bg2 parallax {{ item.slug }}">
  <div class="container">
    {% include "widget/contextnavigation/_item.html" %}
  </div>
</section>
{% elif item.slug == 'release-cycle' %}
<div id="{{ item.slug }}" class="absolute-anchor"></div>
<section class="bg-release-cycle parallax {{ item.slug }}">
  <div class="container">
    {% include "widget/contextnavigation/_item.html" %}
  </div>
</section>
{% elif item.slug == 'duleziti-lide' %}
<div id="{{ item.slug }}" class="absolute-anchor"></div>
<section class="bg-product-management parallax {{ item.slug }}">
  <div class="container">
    {% include "widget/contextnavigation/_item.html" %}
  </div>
</section>
{% elif item.slug == 'misto-svatby' %}
<div id="{{ item.slug }}" class="absolute-anchor"></div>
<section class="bg-misto-svatby {{ item.slug }}">
  <div class="container-fluid">
    {% include "widget/contextnavigation/_item.html" %}
  </div>
</section>
{% elif item.slug == 'program' %}
<div id="{{ item.slug }}" class="absolute-anchor"></div>
<section class="bg-program parallax {{ item.slug }}">
  <div class="container">
    {% include "widget/contextnavigation/_item.html" %}
  </div>
</section>
{% elif item.slug == 'dary' or item.slug == 'gifts' %}
<div id="{{ item.slug }}" class="absolute-anchor"></div>
<section class="bg-release-cycle parallax {{ item.slug }}">
  <div class="container">
    {% include "widget/contextnavigation/_item.html" %}
  </div>
</section>
{% else %}
<div id="{{ item.slug }}" class="absolute-anchor"></div>
<section class="bg2 parallax {{ item.slug }}">
  <div class="container">
    {% include "widget/contextnavigation/_item.html" %}
  </div>
</section>
{% endif %}
{% endfor %}

<script>
(function(){

  var parallax = document.querySelectorAll(".parallax"),
      speed = 0.7;

  window.onscroll = function(){
    [].slice.call(parallax).forEach(function(el,i){

      var windowYOffset = window.pageYOffset,
          elBackgrounPos = "50% " + (windowYOffset * speed + 1350) + "px";

      el.style.backgroundPosition = elBackgrounPos;

    });
  };

})();
</script>

{% endblock %}
