
// Styles
// --------------------------------------------------

// Vendor Components
@import "/bootstrap/scss/bootstrap";

@font-face {
    font-family: Raleway;
    src: url(/static/fonts/Raleway-ExtraLight.ttf);
}

@font-face {
    font-family: RalewayRegular;
    src: url(/static/fonts/Raleway-Regular.ttf);
}

.padding-none, .contextnavigation-base-default, .misto-svatby .col-xs-12, .container-fluid {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

body {
    width: 100%;
    height: 100%;
    font-family: $font-default;
    color: black;
    background-color: white;
    overflow-y: scroll;
    padding: 0px!important;
}

html {
    width: 100%;
    height: 100%;
}

.navbar-custom {
    margin-bottom: 0;
    font-family: Raleway;
    background-color: #5d7184;
    border-bottom: none;
    .nav a.btn.btn-default {
        padding: 3px 10px;
        margin-top: 12px;
        &:hover {
            background-color: #5d7184;
        }
    }
    .navbar-toggle {
        padding: 4px 6px;
        font-size: 16px;
        color: white;
        background-color: black;
        &:focus,
        &:active {
            outline: none;
        }
        .icon-bar {
            background: white;
        }
    }
    .navbar-brand {
        font-weight: 700;
        &:focus {
            outline: none;
        }
    }
    a {
        color: white;
        font-weight: bold;
    }
    .container-fluid {
        padding-left: 15px!important;
        padding-right: 15px!important;
    }
    .nav {
        li {
            a {
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;
                &:hover {
                    color: rgba(white, 0.8);
                    outline: none;
                    background-color: transparent;
                }
                &:focus,
                &:active {
                    outline: none;
                    background-color: transparent;
                }
            }
            &.active {
                outline: none;
                a {
                    background-color: rgba(white, 0.3);
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
    @media(min-width:768px) {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            padding: 0;
            background-color: #63676b;
            border-bottom: none;
        }
    }
}

.bg-intro {
    color: white;
    display: table;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: black;
    background-position: center;
    background-image: url("/static/img/uvodka_ready.jpg");
    background-attachment: fixed;
    .intro-body {
        display: table-cell;
        vertical-align: bottom;
        .brand-heading {
            font-size: 100px;
        }
        .intro-text {
            font-size: 26px;
        }
    }
}

.floating-heading {
    position: relative;
    display: inline-flex;
}

.toolbar-text h2 {
    font-family: RalewayRegular;
    font-size: 3.7em;
}

.leonardo-content {
  width: 100%;
}

.bg1.parallax {
    padding: 50px 0;
    background-position: 0 0;
    background-image: url("/static/img/bg1_par.jpg");
    background-size: 100%;
}

.bg2.parallax {
    padding: 50px 0;
    background-position: 0 0;
    background-image: url("/static/img/bg2_par.jpg");
    background-size: 100%;
}

.bg-release-cycle.parallax {
    padding: 50px 0;
    background-position: 0 0;
    background-color: white;
}

.bg-product-management.parallax {
    padding: 50px 0;
    background-position: 0 0;
    background-image: url(/static/img/pozadi_white_cycle.jpg);
    background-size: 185px;
}

.bg-misto-svatby {
    padding: 40px 0;
    background-color: #f0ede5;
}

.bg-program.parallax {
    padding: 50px 0;
    background-position: 0 0;
    background-image: url("/static/img/pozadi_blue_cycle.jpg");
    background-size: cover;
    color: white;
    h1 {
      color: white;
    }
}

.absolute-anchor {
    position: absolute;
    margin-top: -40px;
    width: 1px;
    height: 1px;
}

// team
$prefix: at;
$totalColumns: 9;

// Custom Prefix
.#{$prefix} {
  
  // Section
  &-section {
    &__title {
      margin: 0 0 70px;
      color: #000;
      font-family: 'Raleway', sans-serif;
      font-size: 3.5rem;
      font-weight: 300;
      line-height: 2.625rem;
      text-align: center;
    }
  }
  
  &-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #FFF;
    border: 1px solid #E2E9ED;

    @for $i from 1 through $totalColumns {
      &[data-column="#{$i}"] {
        .#{$prefix}-column {
          width: percentage( 1 / $i );
          max-width: percentage( 1 / $i );
          min-width: percentage( 1 / $i );
          flex-basis: percentage( 1 / $i );
        }
      }
    }
  }
  
  &-column {
    z-index: 0;
    position: relative;
    background: #FFF;
    box-shadow: 0 0 0 1px #E2E9ED;
    padding: 10px;
    box-sizing: border-box;
    transition: box-shadow 0.2s ease,
                transform 0.2s ease,
                z-index 0s 0.2s ease;
    
    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
    
    &:hover {
      z-index: 1;
      box-shadow: 0 8px 50px rgba(#000, 0.2);
      transform: scale(1.05);
      transition: box-shadow 0.2s ease,
                  transform 0.2s ease,
                  z-index 0s 0s ease;
      
      .#{$prefix}-social {
        margin: 16px 0 0;
        opacity: 1;
      }
    }
    
    @media (max-width: 800px) {
      width: 50% !important;
      max-width: 50% !important;
      min-width: 50% !important;
      flex-basis: 50% !important;
    }

    @media (max-width: 600px) {
      width: 100% !important;
      max-width: 100% !important;
      min-width: 100% !important;
      flex-basis: 100% !important;
    }
  }
  
  &-user {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0, -50%);
    text-align: center;
    
    &__avatar {
      width: 50%;
      height: 50%;
      border-radius: 5px;
      margin: 0 auto 20px;
      overflow: hidden;
      
      img {
        display: block;
        width: 100%;
        max-width: 100%;
      }
    }
    
    &__name {
      color: #313435;
      font-family: 'Raleway', sans-serif;
      font-size: 17px;
      font-weight: 500;
      line-height: 2.625rem;
    }

    &__description {
      padding: 25px 50px;
      color: #2b2d2d;
    }
    
    &__title {
      color: #6F808A;
      font-family: 'Raleway', sans-serif;
      font-size: 0.875rem;
      line-height: 2.375rem;
    }
  }
  
  &-social {
    margin: 0 0 -18px;
    opacity: 0;
    transition: margin 0.2s ease,
                opacity 0.2s ease;
    
    &__item {
      display: inline-block;
      margin: 0 10px;
      
      a {
        display: block;
      }
      
      svg {
        fill: #515F65;
        display: block;
        height: 18px;
        transition: fill 0.2s ease;
        
        &:hover {
          fill: #788D96;
        }
      }
    }
  }
}
